<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="MathNet.Numerics" version="3.7.0" targetFramework="portable-net4+sl5+win8+wp8" requireReinstallation="true" />
  <package id="MoreLinq.Portable" version="1.1.0" targetFramework="portable-net4+sl5+win8+wp8" />
  <package id="Newtonsoft.Json" version="7.0.1" targetFramework="portable-net4+sl5+win8+wp8" />
</packages>